<div class="tablaMiembros">
  <div class="d-flex justify-content-around">
    <button class="btn btn-success" (click)="showRentals()">PLAZAS BASE</button>
    <hr>
    <button class="btn btn-success" (click)="showTransits()">TRÁNSITOS</button>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
      class="table table-hover table-custom-hover rounded-3 overflow-hidden table-striped">
      <thead>
        <tr>
          <th [attr.colspan]="12" class="cabeceraTabla">
            AMARRES
            <a routerLink="./formulario" [queryParams]="{ tipo: 'vacio' }">
              <img class="addIcon" [src]="'/assets/img/add_solid.svg'" alt="" />
            </a>
          </th>
        </tr>
        <tr class="cabeceraDatos">
          <th class="text-center">Ubicación</th>
          <th class="text-center">Manga</th>
          <th class="text-center">Eslora</th>
          <th class="text-center">Costo</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="someClickHandler(i)" *ngFor="let item of datos; let i = index">
          <td>{{ item.PlazaBase_id }}</td>
          <td>{{ item.boat.Manga }}</td>
          <td>{{ item.boat.Eslora }}</td>
          <td>{{ item.costeAmarre }} €</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>