<div class="d-flex justify-content-center">
  <div *ngIf="mostrarVacio">
    <form action="" class="d-flex flex-column" id="formMiembros" (submit)="addMiembro()">
      <h4 class="text-center">AÑADIR MIEMBRO</h4>
      <div class="formLeft">
          <!-- <div class="mb-3 d-flex">
          
          <input
            name="userId"
            value="{{ userId }}"
            type="hidden"
          />
        </div> -->
        <div class="mb-3 d-flex">
          <label for="nombre" class="form-label">Nombre :</label>
          <input
            name="Nombre"
            type="text"
            class="form-control mt-4"
            placeholder="Nombre"
          />
        </div>
        <div class="mb-3 d-flex">
          <label for="apellidos" class="form-label">Apellidos:</label>
          <input
            name="Apellidos"
            type="text"
            class="form-control mt-4"
            placeholder="Apellidos"
          />
        </div>
        <div class="mb-3 d-flex">
          <label for="fechaNacimiento" class="form-label"
            >Fecha de nacimiento:</label
          >
          <input
            name="FechaNacimiento"
            type="date"
            class="form-control mt-4"
            placeholder="Fecha de nacimiento"
          />
        </div>
        <div class="mb-3 d-flex">
          <!--Planteándome si hacerlo condicionado a la edad -->
          <label for="dni" class="form-label">DNI:</label>
          <input
            name="dni"
            type="text"
            class="form-control mt-4"
            placeholder="DNI"
          />
        </div>
        <div class="mb-3 d-flex">
          <label for="parentesco">Parentesco:</label>
          <select name="Parentesco">
            <option *ngFor="let parentesco of parentescos" [value]="parentesco">
              {{ parentesco }}
            </option>
          </select>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-5 btnsPerfil">
        <button type="button" class="btn btnCancelar" (click)="volver()">
          CANCELAR
        </button>
        <button type="submit" class="btn btnAdd">AÑADIR</button>
      </div>
    </form>
  </div>
  <div *ngIf="mostrarVacio === false">
      <form action="" class="d-flex flex-column">

    <div class="formLeft">
      <div class="mb-3 d-flex">
        <label for="nombre" class="form-label">Nombre:</label>
        <input
          name="Nombre"
          type="text"
          class="form-control mt-4"
          placeholder="Nombre"
          [(ngModel)]="miembroSeleccionado.Nombre"
          [readOnly]="!modoEdicion"
        />
      </div>
      <div class="mb-3 d-flex">
        <label for="apellidos" class="form-label">Apellidos:</label>
        <input
          name="Apellidos"
          type="text"
          class="form-control mt-4"
          placeholder="Apellidos"
          [(ngModel)]="miembroSeleccionado.Apellido"
          [readOnly]="!modoEdicion"
        />
      </div>
      <div class="mb-3 d-flex">
        <label for="fechaNacimiento" class="form-label"
          >Fecha de nacimiento:</label
        >
        <input
          name="FechaNacimiento"
          type="date"
          class="form-control mt-4"
          placeholder="Fecha de nacimiento"
          [(ngModel)]="miembroSeleccionado.FechaNacimiento"
          [readOnly]="!modoEdicion"
        />
      </div>
      <div class="mb-3 d-flex">
        <!--Planteándome si hacerlo condicionado a la edad -->
        <label for="dni" class="form-label">DNI:</label>
        <input
          name="DNI"
          type="text"
          class="form-control mt-4"
          placeholder="DNI"
          [(ngModel)]="miembroSeleccionado.DNI"
          [readOnly]="!modoEdicion"
        />
      </div>
      
    </div>
           <div class="d-flex justify-content-end mt-5">
          <button  class="btn btnBack" (click)="volver()">
            VOLVER
          </button>
          <button
           
            type="button"
            class="btnDelete btn"
            (click)="eliminarMiembro()"
          >
            ELIMINAR
          </button>
          <!-- <button
            [ngClass]="{ btn: true, btnVista: modoVista, btnAdd: !modoVista }"
            (click)="modoVista ? activarModoEdicion() : actualizarMiembro()"
          >
            {{ modoVista ? "EDITAR" : "ACTUALIZAR" }}
          </button> -->
        </div>

    <!-- <div class="d-flex justify-content-center mt-5 btnsPerfil">
      <button type="button" class="btn btnCancelar" (click)="volver()">
        CANCELAR
      </button>
      <button type="submit" class="btn btnAdd">AÑADIR</button>
    </div> -->
  </form>
   

  </div>
</div>
