body{
    background: linear-gradient(180deg, #354654 0%, #769CBA 99.5%);
}

.errorContainer {
    font-family: "Inter", sans-serif;

    height: 80vh;
    width: 90%;


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.errorPage {
    text-align: center;
    /* padding: 20px; */
    height: 100%;
    width: 100%;

    font-family: "Inter", sans-serif;

    background-image: url(/assets/img/socios/page_not_found.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.errorPageHeader {
    margin-top: 20px;

}

.homeIcon{
    cursor: pointer;
}

small{
    margin-right: 10px;
}

.btn {

    font-size: 16px;
    font-family: "Inter", sans-serif;
}