<div class="cards d-flex flex-column align-items-center ">
    <div class="cardsAlt d-flex justify-content-around">
        <div class="card d-flex justify-content-center" routerLink="../miembros">
            <p class="text-center cardText">Miembros asociados</p>
            <img [src]="'/assets/img/socios/members.svg'" alt="" class="imgSocio" />
            <!-- <div class="card-header">
                CARD</div>
            <div class="card-body">
                CARD BODY
    
            </div> -->
        </div>
        <div class="card d-flex justify-content-center" routerLink="../amarres-socio">
            <p class="text-center cardText">Amarres</p>
            <img [src]="'/assets/img/socios/amarres.svg'" alt="" class="imgSocio" />
            <!-- <div class="card-header">
                CARD</div>
            <div class="card-body">
                CARD BODY
    
            </div> -->
        </div>
        <div class="card d-flex justify-content-center" routerLink="../embarcaciones-socio">
            <p class="text-center cardText">Embarcaciones</p>
            <img [src]="'/assets/img/embDark.svg'" alt="" class="imgSocio" />
            <!-- <div class="card-header">
                        CARD</div>
                    <div class="card-body">
                        CARD BODY
            
                    </div> -->
        </div>
        <!-- <div class="card">
            <div class="card-header">
                CARD</div>
            <div class="card-body">
                CARD BODY
    
            </div>
        </div> -->
    </div>
    <!-- <div class="cardsDown d-flex justify-content-around">
        <div class="card">
            <div class="card-header">
                CARD</div>
            <div class="card-body">
                CARD BODY
    
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                CARD</div>
            <div class="card-body">
                CARD BODY
    
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                CARD</div>
            <div class="card-body">
                CARD BODY
    
            </div>
        </div>
    
    </div> -->
</div>
<!-- <app-chat-component></app-chat-component> -->